.difference_items{
    margin-right: 25px;
}

.difference_item{
    border-bottom: 1px dashed #979797;
    margin-bottom: 15px;
    padding-bottom: 8px;
    width: 220px;
    font-family: 'Poppins', sans-serif;
}

.difference_item_name{
 padding-bottom: 10px;
}

.difference_block{
    display: flex;
}

.difference{
    margin-bottom: 30px;
}

.difference_item_sub{
    color: #979797;
   }