<footer class="footer">
    <div class="footer_inner">
        <div class="footer_content">
            <div class="footer_submit">
                <p class="footer_submit_text">
                    Для того чтобы быть в курсе всех новостей и акциях 
                    первыми, оставьте свой контактный адрес.
                </p>
                <form class="footer_search" action="">
                    <input type="text" placeholder="E-Mail">
                </form>
                <div class="footer_phone">
                    <img src="/img/footer/icons/headphone.webp" alt="">
                    <p>Нужна помощь?
                    <br>Звоните нам:</p>
                    <p class="number">+998977574488</p>
                </div>
            </div>
            <div class="footer_blocks">
                <div class="footer_block">
                    <div class="footer_logo">
                        <img src="/img/logo/PILS1.webp" alt="" width="150px">
                    </div>
                </div>
                <div class="footer_block">
                    <h3 class="footer_nav_title">Информация</h3>
                    <ul class="footer_nav">
                        <li class="footer_nav_item">
                            <a href="/src/about-us" class="footer_nav_link">О нас</a>
                        </li>
                        <li class="footer_nav_item">
                            <a href="#" class="footer_nav_link">Контакты</a>
                        </li>
                        <li class="footer_nav_item">
                            <a href="#" class="footer_nav_link">Доставка</a>
                        </li>
                        <li class="footer_nav_item">
                            <a href="#" class="footer_nav_link">Партнеры</a>
                        </li>
                        <li class="footer_nav_item">
                            <a href="#" class="footer_nav_link">Политика компании</a>
                        </li>
                        <li class="footer_nav_item">
                            <a href="#" class="footer_nav_link">Пользовательское соглашение</a>
                        </li>
                    </ul>
                </div>
                <div class="footer_block">
                    <h3 class="footer_nav_title">Информация</h3>
                    <ul class="footer_nav">
                        <li class="footer_nav_item">
                            <a href="#" class="footer_nav_link">Акции</a>
                        </li>
                        <li class="footer_nav_item">
                            <a href="#" class="footer_nav_link">Скидки</a>
                        </li>
                        <li class="footer_nav_item">
                            <a href="#" class="footer_nav_link">Кредит и рассрочка</a>
                        </li>
                        <li class="footer_nav_item">
                            <a href="#" class="footer_nav_link">Обмен и возврат</a>
                        </li>
                        <li class="footer_nav_item">
                            <a href="#" class="footer_nav_link">Каталог товаров</a>
                        </li>
                        <li class="footer_nav_item">
                            <a href="#" class="footer_nav_link">Сотрудничество</a>
                        </li>
                    </ul>
                </div>
                <div class="footer_block">
                    <h3 class="footer_nav_title">Адрес</h3>
                     <p class="footer_info">Ташкент, Яккасарайский район,
                        улица Кушбеги 6.</p>

             <h3 class="footer_nav_title">Контакты</h3>
             <p class="footer_info">info@pils.uz<br>
              (+998) 97 757-44-88 </p>

             <h3 class="footer_nav_title">Контакты</h3>
             <div class="footer_social">
                <div class="footer_icons">
                    <img src="/img/footer/icons/Group 47.png" alt="">
                    <img src="/img/footer/icons/Group 48.png" alt="">
                    <img src="/img/footer/icons/Vector (1).png" alt="">
                    <img src="/img/footer/icons/Vector (2).png" alt="">
                </div>
             </div>

             <h3 class="footer_nav_title">Способ оплаты</h3>
             <div class="footer_pay">
                <div class="footer_cards">
                    <img src="/img/footer/materials/Group 94.png" alt="" width="80px">
                    <img src="/img/footer/materials/Group 93.png" alt="" width="80px">
                </div>
                <div class="footer_cards">
                    <img src="/img/footer/materials/Group 95.png" alt="" width="80px">
                    <img src="/img/footer/materials/Group 96.png" alt="" width="80px">
                </div>
             </div>

                </div>
                <div class="footer_block">
                    <div class="footer_qr">
                        <div class="footer_qr_content">
                            <img src="/img/footer/materials/qr-code (3) 1.png" alt="">
                            <p>Наведите камеру и переходите по ссылкам на 
                                наши соц. сети</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_copyright">
       <p>© 2023 – 2024 ООО «Интернет Решения». Все права защищены.</p>
    </div>
</footer>
