<header class="header">
    <div class="header_inner">
        <div class="header_block_1">
            <div class="header_options">
                <div class="header_phone">
                    <p>Нужна помощь? Звоните нам:</p> <a href="#">(+998) 97 757-44-88</a>
                </div>
                <div class="header_content">
                    <div class="header_option">
                        <img class="header_icon" src="/img/icons/location.webp" alt="">
                        <a class="header_city" href="#">Ташкент</a>
                        <p class="header_span">&bull;</p>
                        <a class="header_adress" href="#">Укажите ваш адрес</a>
                    </div>

                    <div class="header_option">
                        <img class="header_icon" src="/img/icons/group.webp" alt="">
                        <a class="header_city" href="#">Доставка</a>
                    </div>

                    <div class="header_option">
                        <img class="header_icon_3"  src="/img/icons/free-icon-russia-4628645 1.webp" alt="">
                        <a class="header_lang" href="#">RU</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header_block_2">
            <div class="header_group">
                <div class="header_logo">
                    <a href="#">
                        <img class="header_log" src="/img/logo/PILS1.png" alt="">
                    </a>
                </div>
                <div class="header_search">
                    <div class="d1">
                        <form>
                        <input type="text" placeholder="Искать здесь...">
                        <button type="submit"></button>
                        </form>
                      </div>
                </div>
                <div class="header_menu">
                    <div class="header_item">
                        <img class="header_item_icon" src="/img/icons/user.png" alt="">
                        <a class="header_item_link" href="#">Войти</a>
                    </div>

                    <div class="header_item">
                        <img class="header_item_icon" src="/img/icons/free-icon-bar-chart-5655752 3.png" alt="">
                        <a class="header_item_link" href="#">Сравнение</a>
                    </div>

                    <div class="header_item">
                        <img class="header_item_icon" src="/img/icons/Vector.png" alt="">
                        <a class="header_item_link" href="#">Избранное</a>
                    </div>

                    <div class="header_item">
                        <img class="header_item_icon" src="/img/icons/shopping-cart.png" alt="">
                        <a class="header_item_link" href="#">Корзина</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header_block_3">
            <div class="header_nav">
                <div class="nav_list">
                    <a class="nav_link" href="#">
                        Косметика <i class="fa fa-sort-down"></i>
                    </a>
                    <a class="nav_link" href="#">
                        Женская гигиена <i class="fa fa-sort-down"></i>
                    </a>
                    <a class="nav_link" href="#">
                        Детская гигиена <i class="fa fa-sort-down"></i>
                    </a>
                    <a class="nav_link" href="#">
                        Гигиена полости рта <i class="fa fa-sort-down"></i>
                    </a>
                    <a class="nav_link" href="#">
                        Безрецептурные препараты <i class="fa fa-sort-down"></i>
                    </a>
                  </div>
            </div>
        </div>
    </div>  
</header>
