@media (max-width: 1400px) {
   // Header
   .d1{
    form{
        max-width: 580px;
    }
   }
}

@media (max-width: 1200px) {
   // Header
   .header_item_link{
    display: none;
   }

   .d1 {
       form {
         max-width: 700px;
       }
    }

    .header_item{
        margin-left: 10px;
        margin-right: 10px;
    }

    .header_item:last-child{
        margin-right: 0;
        padding-right: 0;
    }
}

@media (max-width: 1120px) {
   // Header
    .d1 {
        form {
            max-width: 550px;
        }
    }

    .header_city, .header_adress, .header_span{
        display: none;
    }
}

@media (max-width: 1024px) {
    // Header
        .d1 {
            form {
                max-width: 450px;
            }
        }
}

@media (max-width: 900px) {
    // Header
    .d1 {
        form {
            max-width: 340px;
        }
    }

    .nav_link{
        font-size: 13px !important;
    }
}

@media (max-width: 767px) {

    // Header
    .header_menu {
        display: none !important;
    }

    .d1 {
        form {
            max-width: 580px;
        }
    }

    .header_block_3 {
        display: none;
    }

    .header_menu--mobile{
        display: block !important;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
    }

    .bg{
        display: flex;
        background: #F8F8F8;
        justify-content: center;
        -webkit-box-shadow: 0px -9px 8px 0px rgba(34, 60, 80, 0.06);
        -moz-box-shadow: 0px -9px 8px 0px rgba(34, 60, 80, 0.06);
        box-shadow: 0px -9px 8px 0px rgba(34, 60, 80, 0.06);
    }

    .header_item--2{
        padding: 20px 0px 20px 20px;
        text-align: center;
    }

    .header_item_link{
        display: block;
        color: #934A97;
        padding: 0;
    }

    .header_item--2:first-child {
        padding-left: 0;
    }

    // Footer
    .footer_copyright{
        padding-bottom: 110px;
    }

    .btn-up{
        bottom: 170px;
    }
}

@media (max-width: 697px) {

    // Header
    .d1 {
        form {
            max-width: 400px;
        }
    }

    .header_block_3 {
        display: none;
    }

    .header_phone{
        p{
            display: none;
        }
    }
}

@media (max-width: 481px) {
    // Header
    .d1 {
        form {
            max-width: 320px;
        }
    }

}

@media (max-width: 440px) {
   // Header
    .d1 {
        form {
            max-width: 280px;
        }
    }

    .btn-up {
        bottom: 180px;
    }
}